<%- title "About" -%>
<header>
  <h2><%= link_to 'About', about_url %></h2>
</header>
<section class="about">
  <p>I have spent the last 10 Years working in Australasian Advertising Agencies Saatchi & Saatchi Auckland & Sydney, DDB Auckland & Sydney, Holler Sydney, TBWA / Digital Arts Network Sydney and currently Publicis Mojo Sydney.</p>
  <p>During this time my work has been recognised nationally and internationally at numerous award shows including Gold Cannes Lions, D&AD Yellow Pencil and in book, also Gold and Silver at AWARD and AXIS and I've been a key member of 3 agency of the year titles.</p>
  <p>I enjoy writing code, making functional software  prototypes, leading strategic thinking for utilities, platforms &amp; integrating new technology into creative concepting.</p>
  <p>I'm on <a href="http://github.com/shaunoconnor">Github</a>, <a href="http://twitter.com/shaunoconnor">Twitter</a>, <a href="http://facebook.com/shaunboconnor">Facebook</a>, <a href="https://plus.google.com/u/0/110030018475342769525">Google+</a>, <a href="http://shaunoconnor.tumblr.com">Tumblr</a> &amp; <a href="http://www.linkedin.com/in/shaunboconnor">LinkedIn</a>. <br /><br />And I have some recent work <a href="/projects">here.</a></p>
</section>