<%- title "About" -%>
<header>
  <h2><%= link_to 'About', about_url %></h2>
</header>
<section class="about">
  <h1></h1>
  <p>I have spent the last 10 Years working in Australasian Advertising Agencies with clients Heineken, Toyota, Lexus, Tooheys, Emirates, Nike, Volkswagen,
  McDonald's, Virgin Australia, Red Bull, Nissan &amp; NRMA.</p>
	<p>A few projects that I worked on have been recognized nationally and internationally, Virgin 4320; Gold in Direct, Silver in Direct Integrated and Bronze Cyber at Cannes Lions Advertising Festival. D&amp;AD Yellow Pencil in Direct / Digital, D&amp;AD Yellow Pencil, UN Voices Project; Bronze Cannes Lions Advertising Festival, UN Voices Project; Silver AWARD.</p>
	<p>I enjoy writing code, making functional software, creating prototypes and scamps with creative &amp; technical approaches, strategic thinking for utilities, platforms &amp; integrating new technology into creative concepting.</p>
	<p>I am passionate about technology in advertising and think that now is a great time to be in this industry. One of the most important skills in our industry is the ability to execute your ideas, we must be able to prototype our ideas with multiple technologies, software &amp; hardware with interaction front of mind.</p>
  <p>I have over 10 years of vast experiences, as opposed to the same years experiences 10 times over and enjoy solving new problems everyday.</p>
  Im on <a href="http://github.com/shaunoconnor">Github</a>, <a href="http://twitter.com/shaunoconnor">Twitter</a>, <a href="http://facebook.com/shaunboconnor">Facebook</a> &amp; <a href="http://www.linkedin.com/in/shaunboconnor">LinkedIn</a>.
</section>