<%- title "About" -%>
<header>
  <h2><%= link_to 'About', about_url %></h2>
</header>
<section class="about">
  <p>I have spent the last 10 Years working in Australasian Advertising Agencies with clients Heineken, Toyota, Lexus, Tooheys, Emirates, Nike, Volkswagen, McDonald's, Virgin Australia, Red Bull, Nissan &amp; NRMA.</p>
  <p>A few projects that I worked on have been recognized nationally and internationally, Virgin 4320; Gold in Direct, Silver in Direct Integrated and Bronze Cyber at Cannes Lions Advertising Festival. D&amp;AD Yellow Pencil in Direct / Digital, D&amp;AD Yellow Pencil, UN Voices Project; Bronze Cannes Lions Advertising Festival, UN Voices Project; Silver AWARD.</p>
  <p>I enjoy writing code, making functional software, creating prototypes and scamps with creative &amp; technical approaches, leading strategic thinking for utilities, platforms &amp; integrating new technology into creative concepting.</p>
  <p>I'm on <a href="http://github.com/shaunoconnor">Github</a>, <a href="http://twitter.com/shaunoconnor">Twitter</a>, <a href="http://facebook.com/shaunboconnor">Facebook</a>, <a href="https://plus.google.com/u/0/110030018475342769525">Google+</a>, <a href="http://shaunoconnor.tumblr.com">Tumblr</a> &amp; <a href="http://www.linkedin.com/in/shaunboconnor">LinkedIn</a>. And have some recent work <a href="http://cargocollective.com/shaunoconnor">here.</a></p>
</section>