<%- title "About" -%>
<header>
<!-- <h2><%= link_to 'About', about_url %></h2> -->
</header>
<section class="about">

  <p>Shaun has spent almost 15 years working in communication across design, technology and creative.</p>

  <p>He has been lucky enough to be recognised globally for his work with Gold Cannes Lions,
    D&AD Yellow Pencils and ‘in book’, Gold’s at AWARD and Axis. He has also played a key
    leadership role in multiple Agency Of The Year Titles, and a digital EMMY for transmedia story telling.
  </p>

  <p>Shaun is currently Creative Technology Director at DDB Sydney.</p>

  <p>His specialty and focus is on where creativity and technology intersects.
    Having a deep and practical knowledge of software development, design and
    ideation gives Shaun a unique point of view and approach to problem solving.
  </p>

  <p>Before joining DDB for the second time Shaun worked at Saatchi & Saaatchi New Zealand,
    Saatchi & Saatchi Australia, Publicis Mojo Sydney and TBWA Sydney.</p>

  <p>I'm on <a href="http://github.com/shaunoconnor">Github</a>,
    <a href="http://twitter.com/shaunoconnor">Twitter</a>,
    <a href="http://facebook.com/shaunboconnor">Facebook</a>,
    <a href="https://plus.google.com/u/0/110030018475342769525">Google+</a>,
    <a href="http://shaunoconnor.tumblr.com">Tumblr</a> &amp;
    <a href="http://www.linkedin.com/in/shaunboconnor">LinkedIn</a>.
  </p>

  <p>And I have some recent work <a href="/projects">here.</a></p>

</section>
