<%- title "About" -%>
<header>
  <!-- <h2><%= link_to 'About', about_url %></h2> -->
</header>
<section class="about">
  <p>Shaun has spent the last 10 Years working in Australasian Advertising Agencies Saatchi & Saatchi Auckland & Sydney, DDB Auckland & Sydney, Holler Sydney, TBWA / Digital Arts Network Sydney and currently Publicis Mojo Sydney.</p>
  <p>During this time Shaun's has work has been recognised nationally and internationally at numerous award shows including Gold Cannes Lions, D&AD Yellow Pencils and in book a few times, also Gold and Silver at AWARD, AXIS and has been a key member of 3 agency of the year titles.</p>
  <p>Constantly evolving technical abilities has been a key skill of Shaun's through the years. Firstly cutting his teeth on HTML4 & CSS, then discovering Flash & ActionScript 1.0, 2.0 and then 3.0 where the big advancements happened, working with open-source frameworks, programmatic 3D, design patterns, social media API's and dynamic video. The last 3-4 years have seen Shaun go back to HTML, with the rise of JavaScript, HTML5 & CSS3 along with native iOS development in Objective-C.</p>
  <p><strong>Specialties : </strong></p>
  <p>Lead software development and technical direction for interactive projects across web desktop/mobile, iOS & Android.</p>
  <p>Deep experience in working with open-source frameworks, third party social media API's, Instagram, Facebook & Twitter.</p>
  <p>I have implemented agile development processes, test driven development and development standards, leading multi skilled development team's across a broad range of projects, maintaining delivery and quality standards.</p>
  <p>I enjoy writing code, making functional software and creating prototypes whilst leading strategic thinking for utilities & platforms.</p>
  <p>I'm on <a href="http://github.com/shaunoconnor">Github</a>, <a href="http://twitter.com/shaunoconnor">Twitter</a>, <a href="http://facebook.com/shaunboconnor">Facebook</a>, <a href="https://plus.google.com/u/0/110030018475342769525">Google+</a>, <a href="http://shaunoconnor.tumblr.com">Tumblr</a> &amp; <a href="http://www.linkedin.com/in/shaunboconnor">LinkedIn</a>. <br /><br />And I have some recent work <a href="/projects">here.</a></p>
</section>
