<%- title "Projects" -%>
<article>
    <p>Below are a range of projects that I have worked on over the past 5 years, not all of them.</p>
    <hr>
  </article>

   <article>
    <h2>Dirtgirlworld app</h2>
    <br>
    <img src="http://payload111.cargocollective.com/1/1/41618/4539416/IMG_6504.PNG">
    <br><br>
    <p>We created a range of seeds that brought gardening to life for kids.</p>
    <p>To get started, purchase some dirtgirl smart seeds. Inside you will find a special Augmented Reality plant marker.
    You can find the smart seeds in Big W or at ditgirlworld.com.</p>
    <img src="http://payload111.cargocollective.com/1/1/41618/4539416/IMG_6507.PNG">
    <br><br>
    <p>I was the Creative Technology Lead, overseeing all development, creating prototypes & user experience design
    through to writing native CocoaTouch / Objective C code for the final app store build.</p>
    <p>Get the app <a href="https://itunes.apple.com/au/app/dirtgirlworld/id553107098?mt=8">here</a>.</p>
    <p>Watch the app overview video <a href="http://www.dirtgirlworld.com/">here</a>.</p>
    <p><em>The Dirtgirlworld app was also awarded an Emmy, see the article
    <a href="http://www.iemmys.tv/news_item.aspx?id=163">here</a>.</em></p>
    <hr>
  </article>

   <article>
    <h2>MLC Superfit</h2>
    <br>
    <%= image_tag "superfit-1.png" %>
    <br><br>
    <p>There's a $1 trillion super gap in Australia. What's yours?</p>
    <p>We created a way for Australians to calculate their super gap, the tool communicates this in a way that's a pleasure to use, a definite standout within the financial sector.</p>
    <p>I was the Creative Technology Lead, overseeing all development, creating prototypes & user experience design
    through to peer programming, framework architecture (HTML5, JavaScript, responsive design).</p>
    <p>Try the calculator <a href="http://superfit.mlc.com.au/">here</a>.</p>
    <hr>
  </article>
   <article>
    <h2>The Sapphires</h2>
    <br>
    <img src="http://payload111.cargocollective.com/1/1/41618/4539461/IMG_6505.PNG">
    <br><br>
    <p>Soul Sync is a world-first, lip-syncing app that syncs your mouth to the songs from hit movie “The Sapphires”,
    without having to sing a word.</p>
     <img src="http://payload111.cargocollective.com/1/1/41618/4539461/IMG_6506.PNG">
    <br><br>
    <p>The movie app that made you the lead singer and pushed the soundtrack to no.1 in iTunes.</p>
    <p>I was the Creative Technology Lead, overseeing all development, prototyping, user experience design through
    to writing native CocoaTouch / Objective C code for the final app store build.</p>
    <p>Get the app <a href="https://itunes.apple.com/au/app/soul-sync/id548215438?mt=8">here</a>.</p>
    <p>Watch the app overview video <a href="http://vimeo.com/50338760">here</a>.</p>
    <br>
    <hr>
  </article>

  <article>
    <h2>Red Bull - Beat Suite</h2>
    <br>
    <img src="http://payload143.cargocollective.com/1/1/41618/5176191/beat4.png">
    <br><br>
    <p>Our objective was to get the world talking about a one-off, experimental classical music concert in Melbourne,
    Australia and to create an ongoing digital experience to keep the online audience engaged before,
    during and after the gig.</p>
    <img src="http://payload143.cargocollective.com/1/1/41618/5176191/beat3.png">
    <br><br>
    <p>Red Bull insisted this unique musical experience should live on long after the performance and wanted
    people talking about it in social media.</p>
    <img src="http://payload143.cargocollective.com/1/1/41618/5176191/beat2.png">
    <br><br>
    <p>We quickly launched ‘Beat Suite Tweets’ – a server-side app that analyses your 140-character tweets and
    transforms them into a unique musical arrangement using exclusive samples taken from the Beat Suite concert</p>
    <p>I was the Creative Technology Lead, overseeing all development, prototyping, user experience design.</p>
    <p>See the site <a href="http://beatsuite.redbull.com.au/">here</a>.</p>
    <p>Watch the overview video <a href="">here</a>.</p>
    <br>
    <hr>
  </article>

   <article>
    <h2>Nissan 370 Z - Zen to Z</h2>
    <br>
    <img src="http://payload2.cargocollective.com/1/1/41618/2349774/3701.jpg">
    <br><br>
    <p>A recently launched project for the new <a href="http://370z.nissan.com.au/">Nissan 370 Z.</a></p>
    <p>I was the Creative Technology Lead, overseeing all development & user experience design through to writing HTML5
    & JavaScript for the production build.</p>
     <p>Watch the overview video <a href="http://vimeo.com/46860148">here</a>.</p>
    <hr>
  </article>
  <article>
    <h2>Dog-A-Like</h2>
    <br>
    <img src="http://payload113.cargocollective.com/1/1/41618/4560433/IMG_6106.PNG">
    <br><br>
    <p>The Dog-A-Like app, take a photo with the camera, the software scans your facial features,
    your perfect match is found from the live PetRescue database, adopt your perfect match straight from the
    PetRescue shelter.</p>
    <p>The app was no. 1 in the Australian app store for two weeks, with over 1000 downloads daily since and
    5.8 million users on Facebook.</p>
    <p>Dog-A-Like is on <a href="https://apps.facebook.com/dogalike/" target="_blank">Facebook</a>,
    <a href="https://play.google.com/store/apps/details?id=com.motim.dogalike" target="_blank">Android</a>
    and <a href="https://itunes.apple.com/au/app/dog-a-like/id441893795" target="_blank">iOS</a>.</p>
     <p>Watch the overview video <a href="http://vimeo.com/31769637">here</a>.</p>
    <br>
    <hr>
  </article>
  <article>
    <h2>Toohey's Extra Dry The Lab</h2>
    <br>
    <img src="http://payload.cargocollective.com/1/1/41618/1770718/www.tedthelab.jpeg">
    <br><br>
    <p>Tooheys Extra Dry TED The Lab is a project to write and record a track for Toohey’s Extra Dry’s ad campaign.</p>
    <strong>This project is no longer online.</strong>
    <br>
    <br>
    <hr>
  </article>
   <article>
    <h2>V Australia 4320:LA</h2>
    <br>
    <%= image_tag "4320-31.jpg" %>
    <br><br>
    <p>Recently I had the pleasure of working with the guys at Future Büro, whilst I was there they had a project
    on for V Australia through Droga5 Sydney entitled 4320:LA. V Australia flew 3 people to Los Angeles,
    whilst there they Tweeted about their experience, all 4320 minutes of it. The site aggregated the 3 winners
    Tweets and TwitPics.</p>
    <img src="http://payload.cargocollective.com/1/1/41618/515300/4320-1.jpg">
    <br><br>
    <p>There was also a return leg where V Australia brought 3 people over to Sydney from Los Angeles, 4320:SYD.</p>
    <p>This campaign also managed to pick up a Gold in Direct, Silver in Direct Integrated and Bronze in
    Cyber at Cannes Lions International Advertising Festival and a prestigious yellow pencil at D&AD in
    Direct / Digital.</p>
    <strong>This project is no longer online.</strong>
    <br>
    <br>
    <hr>
  </article>
  <article>
    <h2>The Lane</h2>
    <br>
    <img src="http://payload.cargocollective.com/1/1/41618/1770645/main-1.jpeg">
    <br><br>
    <p>The Lane is a wedding style inspiration website I worked on whilst at Future Büro. I worked on the scrapbook
    component, which includes basic scrapbook functionality (adding of images, commenting, resizing and star rating )
    , user registration, guest management and scrapbook page management.</p>
    <br>
    <br>
    <hr>
  </article>
  <article>
    <h2>Red Bull Sally Fitzgibbons</h2>
    <br>
    <img src="http://payload.cargocollective.com/1/1/41618/515304/main.jpg">
    <br><br>
    <p>Another project that I worked on whilst at Future Büro was a website for Red Bull sponsored surfer
    Sally Fitzgibbons. I worked on the Flash front end which is content managed using Expression Engine.
    All content can be deep linked and the blog style news articles can be commented on from Flash.</p>
    <strong>This project is no longer online.</strong>
    <br>
    <br>
    <hr>
  </article>
  <article>
    <h2>UN Voices Project</h2>
    <br>
    <img src="http://payload.cargocollective.com/1/1/41618/515313/un1.jpg">
    <br><br>
    <p>The UN Voices project that I worked on whilst at Saatchi & Saatchi Sydney picked up a Bronze Lion
    at last years Cannes Lions Advertising festival and recently received a yellow pencil at D&AD.</p>
    <br>
    <strong>This project is no longer online.</strong>
    <br>
    <br>
    <hr>
  </article>
  <article>
    <h2>Nike - Nikeology</h2>
    <br>
    <img src="http://payload.cargocollective.com/1/1/41618/515315/0032.jpg">
    <br><br>
    <p>Nikeology was a project that I worked on whilst at Tribal DDB Sydney. This was a fairly large project
    with additional modules being added monthly and also included a .net / webservices driven membership system.</p>
    <br>
    <strong>This project is no longer online.</strong>
    <br>
    <br>
    <hr>
  </article>
